html {
  /* height: 100%; */
}
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Quicksand", sans-serif;
  font-size: 0.9em;
  background-color: rgb(250, 250, 250);
  /* height: 100%; */
}
.title {
  text-align: center;
  font-size: 200%;
  font-weight: 100;
  /* font-family: "Quicksand", sans-serif; */
}
.content {
  /* max-width: 500px;
        margin: auto; */
}
.upper {
  /* max-width: 500px; */
  margin: auto;
  /* text-align: center; */
  width: 50%;
  /* border: 3px solid green; */
  padding-top: 10px;
}
.placehere {
  /* position: absolute; */
  /* background-color: rgb(241, 241, 241); */
  /* min-height: 100vh; */
}
input {
  border-radius: 7.5px;
}
input[type="text"],
input[type="url"],
input[type="number"],
select {
  width: 100%;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  box-sizing: border-box;
}
input[type="range"] {
  width: 100%;
  outline: none;
  box-shadow: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #008cba;
  color: white;
  font-size: medium;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  /* border-radius: 4px; */
  cursor: pointer;
}
input[type="submit"]:hover {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  opacity: 0.85;
}

input[type="submit"]:active {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  opacity: 0.55;
}
*:focus {
  outline: none !important;
  /* border: 1px solid red; */
  box-shadow: 0 0 2.5px #719ece;
}
.chunk {
  display: inline-block;
  padding: 5px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  color: white;
  font-size: 400%;
  font-weight: 900;
  font-family: "Arial", sans-serif;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* line-height: 512px; */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.container:hover .overlay {
  opacity: 0.5;
}
.top-text {
  font-family: "Impact", sans-serif;
  position: absolute;
  /* padding-top: 30px; */
  /* top: 0.5%; */
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  font-size: xx-large;
  /* font-size: 0.5vw; */
  /* font-weight: bold; */
}
.bottom-text {
  font-family: "Impact", sans-serif;
  position: absolute;
  top: 70.5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  /* font-size: 250%; */
  font-size: xx-large;
  /* font-weight: bold; */
}
img {
  width: auto;
  /* max-width: 512px; */
  max-height: 256px;
}
